.buttons {
    -fx-background-image: url("Sandstone.jpg");
    -fx-border-radius: 20px;
    -fx-border-radius: 20px;
    -fx-background-size: cover;
    -fx-background-width: 50px;
    -fx-background-width: 50px;
    -fx-background-insets: 20px;
}

.background {
    background-image: 

}